img {
  width: 100%;
  vertical-align: bottom;
}

.topContents {
  background: #f8f8f8;
  .mainVisual {
    width: 100%;
    height: 560px;
    background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .mvContent {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__title {
        @include font-top;
        font-size: 60px;
        line-height: 1.2;
      }
      &__text {
        @include font-top;
        font-size: 18px;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        @include banner;
        margin: 24px 0 0 0;
      }
    }
  }

  .pict-reason {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .prList {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image {
          position: relative;
          margin-bottom: 20px;
          &--number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__title {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__text {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }

  .topMiddleDl {
    background-image: image-url('pict/bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &-content {
      @include font-top;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        @include banner;
        margin: 24px 0 0 0;
      }
    }
  }

  .features {
    padding: 60px 100px;
    background-color: #fff;
    &__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__contents {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .ftContent {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickup {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &-contents {
      &__head {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
        &-title {
          font-weight: bold;
        }
      }
      .pickup-products {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          position: relative;
        }
        &__item {
          width: 220px;
          display: inline-block;
          position: relative;
          &:hover {
          opacity: 0.5;
          }
          a {
          background-color: #fff;
          display: inline-block;
          }
          &-img {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          .sold-out__mask {
            position: absolute;
            z-index: 10;
            top: 25%;
            left: 7%;
            width: 200px;
          }
          &-content {
            background-color: white;
            color: #333;
            padding: 16px;
            &--name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            &--detail {
              font-size: 16px;
              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .fa {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
                .fa-star:before {
                  content: "\f005";
                }
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
      .pickupContainer:last-child {
      padding-bottom: 80px;
      }
    }
  }
  .pickup:last-child {
    padding-bottom: 80px;
  }
}

.appBanner {
  background-image: image-url('pict/bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &-contents {
    text-align: center;
    &__title {
      @include font-top;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      @include font-top;
      font-size: 35px;
    }
    &__btn {
      @include banner;
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}
