%aside.appBanner
  .appBanner-contents
    %h2.appBanner-contents__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.appBanner-contents__text
      今すぐ無料ダウンロード！
    .appBanner-contents__btn
      = link_to "#", class: "appStoreBtn" do
        = image_tag 'logo/app-store.svg'
      = link_to "#", class: "googlePlayBtn" do
        = image_tag 'logo/google-play.svg'