.user-form__footer
  %nav
    %ul
      %li
        %a{:href => "#"} プライバシーポリシー
      %li
        %a{:href => "#"} FURIMA利用規約
      %li
        %a{:href => "#"} 特定取引に関する表記
  .user-form__footer__icon
    = link_to root_path  do
      = image_tag 'logo/logo-white.png'
    .small-text
      %small © Furima, Inc.
/ user-form__footer
