<div class="user-form__footer">
  <nav>
    <ul>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">FURIMA利用規約</a></li>
      <li><a href="#">特定取引に関する表記</a></li>
    </ul>
  </nav>
  <div class="user-form__footer__icon">
    <%= link_to root_path  do %>
      <%= image_tag 'logo/logo-white.png' %>
    <% end %>
    <div class="small-text">
      <small>© Furima, Inc.</small>
    </div>
  </div>
</div> <!-- user-form__footer -->