.right-contents
  .right-contents__user-icon
    .right-contents__user-icon__image
      %figure
        %img{alt: "", src: "https://cdn.pixabay.com/photo/2020/06/06/18/09/cat-5267657_1280.jpg" }/
      %h2.bold ユーザー名
      .right-contents__user-icon__user-eva
        %span.bold 評価："#"
        %span.bold 出品数："#"
  .right-contents__to-do-list
    %h1 やる事リスト
    %ul
      %li
        %img{:alt => "", :height => "90", :src => "https://3.bp.blogspot.com/-Z9J8ymb3wKs/WzC-CxqW8II/AAAAAAABM-I/WhWQdORUcekeTB5pAAs127Xgn0GRHgdQwCLcBGAs/s400/yaruki_moetsuki_woman.png", :width => "90"}/
      %li 現在、やることリストはありません
  .right-contents__purchase
    %h3 購入した商品
    %h2 取引中
    %ul
      %li
        %img{:alt => "", :height => "90", :src => "https://3.bp.blogspot.com/-Z9J8ymb3wKs/WzC-CxqW8II/AAAAAAABM-I/WhWQdORUcekeTB5pAAs127Xgn0GRHgdQwCLcBGAs/s400/yaruki_moetsuki_woman.png", :width => "90"}/
      %li 現在、やることリストはありません