<html>
<header>
<div class="header-contents">
<div class="header-bottom">
</div>
</div>
</header>

<body>
<div class="wrapper">
  <nav class="left-menu">
    <ul class="left-menu__list">
      <li><a href="#">マイページ</a></li>
      <li><a href="#">いいね！一覧</a></li>
      <li><a href="#">出品する</a></li>
      <li><a href="#">出品する</a></li>
      <li><a href="#">出品した商品-出品中</a></li>
      <li><a href="#">出品した商品-取引中</a></li>
      <li><a href="#">出品した商品-売却済み</a></li>
      <li><a href="#">購入した商品-取引中</a></li>
      <li><a href="#">購入した商品-過去の取引</a></li>
      <li><a href="#">評価一覧</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <h1>設定</h1>
      <li><a href="#">プロフィール</a></li>
      <li><a href="#">発送元・お届け設定</a></li>
      <li><a href="#">支払い方法</a></li>
      <li><a href="#">メール/パスワード</a></li>
      <li><a href="#">本人情報</a></li>
      <li><a href="#">電話番号の確認</a></li>
      <li><a href="#">ログアウト</a></li>          
    </ul>
  </nav>
  <div class="right-contents">
  　<div class="right-contents__user-icon">
      <div class="right-contents__user-icon__image"><img src="https://www.pakutaso.com/shared/img/thumb/cat458A7444_TP_V.jpg" alt width="60" height="60"></div>
      <div class="right-contents__user-icon__user-name">ユーザー名</div>
      <div class="right-contents__user-icon__user-eva">
        <span class="bold">評価：数字</span>
        <span class="bold">出品数：数字</span>
      </div>
    </div>
    <div class="right-contents__to-do-list">やることリスト</div>>
    <div class="right-contents__purchase">購入した商品</div>
  </div>
  