.user-form__footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  nav {
    list-style: none;
    font-size: 12px;
    text-align: center;
    li {
      display: inline;
      margin: 0 8px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &__icon {
    width: 200px;
    margin: 30px auto;
    text-align: center;
    .small-text {
      padding: 10px 0;
    }
  }
}