.note {
  margin: 8px;
  font-size: 14px;
  color: rgb(126, 123, 123);
}

#identification {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}
.single-text {
  font-size: 14px;
  padding: 8px;
}

.main {
  background-color: #F5F5F5;
}
.user-sign__up {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  .header_logo {
    display: flex;
    img {
      width: 200px;
      margin: 30px 80px;
    }
    .progress-bar {
      width: 100%;
      padding: 40px 0 0 44px;
      border: 0;
      li {
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        margin: 0 5% 0 0;
        font-size: 12px;
        color: #888;
      }
      .active {
        font-weight: 600;
        color: #0099e8;
      }
      .progress-status {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
        &__active {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #0099e8;
        }
      }
    }
  }
  &__title {
    font-size: 22px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    width: 100%;
    background-color:white;
    border-bottom: 1px solid lightgray;
    h2 {
      font-weight: 600;
    }
  }
  &__form {
    background-color: white;
    padding: 40px 40px 64px;
    &__content {
      margin: 0 auto;
      max-width: 320px;
    }
    .field {
      margin: 20px auto;
      label {
        font-weight: 600;
        font-size: 12px;
        margin-right: 10px;
      }
      .form-require {
        background-color: red;
        color: white;
        border-radius: 2px;
        font-size: 14px;
        padding: 0 4px;
        font-weight: 600;
        display: inline-block;
      }
      .input-form {
        @include form;
        &__name {
          width: calc(50% - 15px);
          height: 48px;
          padding: 10px 16px 8px;
          margin-top: 8px;
        }
        &__birth {
          width: calc(30% - 20px);
          height: 48px;
          padding: 10px 16px 8px;
          margin-top: 8px;
        }
      }
      #address_prefecture_id {
        @include form;
      }
    }
  }
}
